[default]
build_host=db-19.space.163.org
build_path=/home/study/deploy_study/dev2
deploy_host=study11.server.163.org
deploy_path=/home/study/webroot-study
deploy_exec_path=/home/study/tomcat-study
deploy_script=
#/home/study/.deploy/prepublish.sh
sudo=yes

[102]
build_host=db-19.space.163.org
build_path=/home/study/deploy_study/dev2
deploy_host=study102
deploy_path=/home/study/webroot-study
deploy_exec_path=/home/study/tomcat-study
deploy_script=
#/home/study/.deploy/prepublish.sh
sudo=yes




[pre]
build_host=db-19.space.163.org
build_path=/home/study/deploy_study/trunk
deploy_host=study4.server.163.org
deploy_path=/home/study/webroot-study
deploy_exec_path=/home/study/tomcat-study
deploy_script=
#/home/study/.deploy/prepublish.sh
sudo=no



